.blogHome-img{
    width: 180px;
    height: 190px;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 12px;
}
.blogHome-Signle{
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(31,66,135,.3);
    border-radius: 10px;
}
.blogHome-Signle a h4{
    font-weight: 700;
    color: #1f2471;
    font-size: 1.30rem;
}
.blogHome-Signle a{
    text-decoration: none;
}
.blogHome-Signle p{
    line-height: 1.6;
    color: #505489;
    font-size: 15px;
}
.blogHome-Signle .homebolg-date{
    font-size: 18px;
    color: #f01f75;
    font-weight: 700;
}
.blogHome-Signle h4:hover{
    color: #f01f75;
}
#blogHome-section-title{
    font-size: 40px;
    font-weight: 700;
    color: #1f2471;
}
#blogHome-section-title::before{
    left: 30px;
}
#blogHome-section-title::after{
    left: 88px;
}