.header-nav-img {
    width: 180px;
    height: 52px;
  }
  li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    margin-left: 22px;
  
    line-height: 20px;
    letter-spacing: 0.3px;
  }
.background-color{
  /* background-color: #695b5b; */
  background-color: #3c3535;
  /* background-color: white; */
}

  #black{
    color: white;
  }
  @media only screen and (max-width: 600px) {
  
    .navbar-background {
      background-color: rgba(255, 255, 255);
    }
    /* li a{
      color: black;
    } */
  }