.contact-img-section img{
    width: 540px;
    height: 500px;
    animation: move3 5s infinite;
    
}
@keyframes move3{
    0%{
        transform: translate(0);
    }
    20%{
        transform: translate(5px);
    }
    40%{
        transform: translate(5px,5px);
    }
    65%{
        transform: translateY(5px);
    }
    65%{
        transform: translate(5px);
    }
    100%{
        transform: translate(0);
    }
}