.contact-info{
    transition: all .5s ease;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.157);
    background: #fff;
    padding: 30px 30px 25px 100px;
    position: relative;
    border-radius: 8px;
}
.contact-info .icon{
    display: inline-block;
    width: 65px;
    height: 65px;
    line-height: 63px;
    background: #ececec;
    border-radius: 50%;
    font-size: 30px;
    color: #ff2c9c;
    transition: all .5s ease;
    position: absolute;
    left: 30px;
    text-align: center;
}

.contact-info h5{
    color: #18181b;
    font-weight: 700;
    font-size: 22px;
}

.contact-info:hover{
    transform: translateY(-10px);
}
.contact-info:hover .icon{
    color: #fff;
    background-color: #ff2c9c;
}