.app{
    position: relative;
  }
  
  .all-scrool{
    position: fixed;
    bottom: 32px;
    right: 26px;
    z-index: 9999;
  }
  .all-scrool a{
    background-color: rgba(254, 62, 88, 0.927);
      display: block;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      border: 2px solid #fe3e57;
      border-radius: 45px;
      text-align: center;
      transition: all .2s;
  }
  .displayNone{
    display: none;
  }
  .displayBlock{
    display: block;
  }
  .all-scrool a:hover{
    background-color: #fe3e57;
  }
  
  /* @media only screen and (max-width: 767px){
    .btn{ margin-bottom: 20px; }
  } */