@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

.home-banner-bg{
    background-image: url(https://samartheme3.vercel.app/images/background/bg5.png), url(https://samartheme3.vercel.app/images/background/bg6.png),linear-gradient(90deg,#111c58 0,#5c2782 51%,#111c58);
   padding-top: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
    position: relative;
    background-position: bottom,top;
    z-index: 1;
}

.home-banner-bg::after{
    background-image: url(https://samartheme3.vercel.app/_next/static/media/pic2.8176d07771082b3af7efa7c9fd57e095.png);
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: -1;
}
.home-page-img-section img{
    width: 540px;
    height: 470px;
}
.home-page-img-section img{
    animation: myAnimation 3s infinite;

}


.home-banner-bg h2{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size:50px;
    font-weight: 700;

}
.home-banner-bg span{
    color: #ffa808;
    font-size: 18px;
    font-weight: 500;
}
.home-banner-bg p{
    color: white;
}


@keyframes myAnimation {
    0% {     transform: rotate(-1deg) translate(-2px,-2px); }
    50% { transform: rotate(1deg) translate(2px,2px); }
    100% {     transform: rotate(-1deg) translate(-2px,-2px); }
  }

  .btn-header-banner{
    padding: 12px 35px;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-image: linear-gradient(90deg,#ef146e 0,#fea958 51%,#ef146e);
    background-size: 200%;
    border-color: transparent!important;
    transition: all .5s;
    color:white;
    
}
.btn-header-banner:hover{
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;   
}

@media only screen and (max-width: 600px) {
    .home-page-img-section img{
        width: 348px;
        height: 250px;
        margin-top: 40px;
        padding-left: 20px;
    }
    .home-banner-bg::after{
        display: none;
    }
   .home-banner-bg{
    padding-top: 100px;
    height: 100%;
    padding-bottom: 30px;
   }
   .order-details{
    order: 1;
   }
   .order-img{
    order: 0;
   }
   .home-banner-bg h2 {
    font-size: 40px;
   }
}